@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.descricao-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.descricao-container h1, .descricao-container h2, .descricao-container h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.descricao-container p {
  margin: 10px 0;
}

.descricao-container a {
  color: #0070f3;
  text-decoration: none;
}

.descricao-container a:hover {
  text-decoration: underline;
}

.descricao-container pre {
  background: #272822;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.descricao-container code {
  color: #c7254e;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: Consolas, 'Courier New', monospace;
}

.descricao-container ul {
  list-style: disc inside;
  margin: 10px 0;
}

.descricao-container ol {
  list-style: decimal inside;
  margin: 10px 0;
}

.descricao-container table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.descricao-container table th, .descricao-container table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.descricao-container table th {
  background-color: #f4f4f4;
}
