@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "fustat";
  src: url("/fonts/fustat.ttf") format("woff2"),
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.descricao-container {
  font-family: fustat, Arial, sans-serif;
  line-height: 1.8;
  color: #EEE;
  border-radius: 10px;
  width: 100%;
}

.descricao-container h1, 
.descricao-container h2, 
.descricao-container h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.descricao-container h1 {
  font-size: 2.4em;
  font-weight: bold;
  color: #EEE;
}

.descricao-container h2 {
  font-size: 2em;
  color: #EEE;
}

.descricao-container h3 {
  font-size: 1.7em;
  color: #EEE;
}

.descricao-container p {
  margin: 12px 0;
  font-size: 1.1em;
  color: #EEE;
}

.descricao-container a {
  color: #4DB8FF;
  text-decoration: none;
  font-weight: light;
}

.descricao-container a:hover {
  text-decoration: underline;
  color: #1E90FF;
}

.descricao-container pre {
  background: #282a36;
  color: #f8f8f2;
  padding: 16px;
  border-radius: 10px;
  overflow-x: auto;
  font-size: 1em;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px inset rgba(0, 0, 0, 0.5);
}

.descricao-container code {
  background-color: #272822;
  color: #f78c6c;
  padding: 3px 6px;
  border-radius: 5px;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 1em;
}

.descricao-container pre code {
  background: none; 
  padding: 0;
  color: #f8f8f2;
}

.descricao-container blockquote {
  font-style: italic;
  color: #eee;
  opacity: 70%;
  border-left: 4px solid #ccc;
  padding-left: 16px;
  margin: 16px 0;
}

.descricao-container ul, 
.descricao-container ol {
  margin: 15px 0 25px 25px;
  font-size: 1.1em;
}

.descricao-container ul {
  list-style: disc;
}

.descricao-container ol {
  list-style: decimal;
}

.descricao-container table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  color: #EEE;
}

.descricao-container table th, 
.descricao-container table td {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}
.toc.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.descricao-container table th {
  background-color: #333;
  color: #EEE;
  font-weight: bold;
}

@media (max-width: 768px) {
  .descricao-container {
    padding: 16px;
  }

  .descricao-container h1 {
    font-size: 2em;
  }

  .descricao-container h2 {
    font-size: 1.7em;
  }

  .descricao-container h3 {
    font-size: 1.5em;
  }

  .descricao-container p {
    font-size: 1em;
  }

  .descricao-container pre {
    font-size: 0.9em;
  }

  .descricao-container ul, 
  .descricao-container ol {
    margin-left: 20px;
  }
}

.mountain-image, .mountain-image-2 {
  filter: drop-shadow(0px -15px  67px rgba(77, 184, 255, 0.18));
}